*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar div{
    color: white;
    font-size: larger;
   
    
}
.navbar ul li{
    font-family: century;
    font-size: 1.1 rem;
    font-weight: bold;
   
    

}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;

}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;

}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

#block-one{
    margin-top: 3rem;
    margin-left: 3rem;
    margin-left: 3rem;
    width: 700px;
    height: 290px;
    background-color:#7f7f7f ;
    box-shadow: 0 0 10px 2px rgb(189, 213, 224);
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: whitesmoke;
}

#block-two{
    width: 700px;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-left: 3rem;
    height: 290px;
    background-color:rgba(54, 54, 53, 0.041) ;
    box-shadow: 0 0 10px 2px #aaa;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}

#block-btn{
     margin-top: 2rem;
}
#block-text{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#block-text h4{
    
    font-size: 30px;
}

#block-text p{
    font-size: 20px;
}

#live-btn{
    width: 120px;
    height: 50px;
    border-radius: 1rem;
    font-size: 20px;
    box-shadow: 0 0 11px 3px #aaa ;
    cursor: pointer;
}
#code-btn{
    width: 120px;
    height: 50px;
    border-radius: 1rem;
    font-size: 20px;
    box-shadow: 0 0 11px 3px #aaa ;
    cursor: pointer;
}

#head-text{
    margin-top: 3rem;
    display: grid;
    justify-items: center;
}